<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/semantic.min.css">
    <script type="text/javascript" src="../../static/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../../static/js/semantic.min.js"></script>
</head>
<body>
<div class="ui message">
    <i class="user icon"></i>
    <i class="home icon"></i>
    <i class="warning icon"></i>
    <i class="red file word icon"></i>
    <i class="spinner teal loading icon"></i>
    <i class="asterisk loading icon"></i>
    <i class="link close icon"></i>

    <br>
    <br>
    <!--水平翻转-->
    <i class="horizontally flipped home icon"></i>
    <!--垂直翻转-->
    <i class="vertically flipped home icon"></i>
    <!--顺时针旋转-->
    <i class="clockwise rotated home icon"></i>
    <!--逆时针旋转-->
    <i class="counterclockwise rotated home icon"></i>

    <br>
    <br>
    <!--图标圆形化-->
    <i class="circular home icon"></i>
    <!--图标方形化-->
    <i class="bordered home icon"></i>

</div>
</body>
</html>
